body {
  background: #1d2731;
  color: #ffffff;
}

.row > * {
  width: fit-content;
  flex-shrink: inherit;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-container {
  flex-flow: column wrap;
  align-items: flex-start;
  position: relative;
  transition: transform 0.2s;
}

.movie-container:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.movie-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0, 0.8);
  width: 93%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.banner {
  position: relative;
  text-align: center;
  margin: 0 auto;
  transition: 0.3s all ease;
  z-index: 1000;
  background: #d9b310;
  opacity: 0;
  width: 100vw;
}

.on {
  opacity: 1;
}

.header {
  background-color: #0b3c5d;
}

.movieSelect {
  background-color: #1d2731;
}

.nomHeading {
  background-color: #1d2731;
  opacity: 0;
}

.nominationsList {
  background-color: #1d2731;
}
